/*===========================
  theme: Blue Sky
============================ */

/* loader */

.spinner > div {background-color: #3497db;}

/* general typography */

a:hover,
a:focus {color: #0E4F7C;}

a {color: #3497db;}

/* Dividers */

hr {color:#0E4F7C;}

.hr:before {background-color: #0E4F7C;}

.hr {color: #0E4F7C;}

/* icons */

.glyphicon{color: #3497db;}

/* logo */

.navbar-brand span{color:#3497db;}

/* Top bar */

.top-bar {background: #3497db;}

ul.social-list li a:hover {background-color:#0E4F7C;}

/* navbar */

.navbar-toggle {background-color: #3497db;}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {background-color: #0E4F7C;}

.navbar-custom .nav li a:hover{color: #3497db;}
	 
.navbar-custom .nav li a:focus{color: #0E4F7C;}

.navbar-custom .nav li.active {color: #3497db;}

.navbar-custom .nav > .active > a {color: #3497db;}

.navbar-brand:hover,
.navbar-brand:focus {color:#3497db;}

#gallery .nav > li > a:focus {color: #0E4F7C;}
 
#gallery .nav > li > a:hover {color: #3497db;}

/* nav pills */

.nav-pills> li.active:after {border-top-color: #0E4F7C;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {background-color: #0E4F7C;}

.nav-pills>li>a:hover {background-color: #3497db;}

.nav-pills .nav > li > a:hover {background-color: #0E4F7C;}

/* Light buttons */

.light-btn .btn:before{color: #3497db;}

.light-btn .btn:hover{color: #3497db;}

.light-btn .btn:focus{color: #3497db;}

/* Default buttons */

.btn-default {background-color: #0E4F7C;}

.btn-default:hover ,
.btn-default:focus {background-color:#0E4F7C;}

.btn:before {background: #3497db;}

/* Social Media icons */

.social-media a:hover {background-color: #3497db;}

/* carousel & Sliders */

.slider-pagi__elem {border: 2px solid #0E4F7C;}

/* Sections Backgrounds */

#stats {background-color:#3497db;}

#testimonials {background-color:#3497db;}

#call-to-action{background-color: #3497db;}

#offers{background-color: #3497db;}

/* About us - icons */

.box > .icon > .image{border: 2px dotted #0E4F7C;}

.box > .icon:hover > .image{background: #0E4F7C;}

/* team */

.team span {color: #3497db;}

/* Gallery Overlay */

.gallery-thumb .overlay-mask{background:#0E4F7C;}

/* Prices */

.pricing-tables .pricing-table.highlight-plan .plan-name {background-color: #3497db;}

/* Offers */

#offers span{color:#3497db;}

/* Owl-slider */

.owl-prev:hover, .owl-next:hover {background-color:#0E4F7C;}

/* Contact & Footer */

#contact .form-control:focus {box-shadow: 0 4px 0px #0E4F7C;}

footer {background-color:#3497db;}

/* Go to top icon */

.back-to-top i:hover {background-color:#0E4F7C;}